.statistics {
    font-size: 2rem;
    text-align: left;
    padding-left: 5%;

    .statistics__money {
        margin: 2% 0;
    }

    span {
        font-weight: bold;
        font-size: 2.5rem;
    }
}